input[type='number'] {
	width: 10em;
}

.drop {
	display: inline-block;
	padding: 2em 10em;
	border: 2px dotted #a9a9a9;
	user-select: none;
	cursor: pointer;
	&.dragging {
		cursor: grab;
		cursor: grabbing;
		border-color: red;
	}
	input {
		display: none;
	}
}

.demo {
	display: flex;
}

.block {
	border-left: 2px solid #a9a9a9;
	flex-basis: 0;
	flex-shrink: 0;
	text-align: center;
	padding: 2em 0;
	&:last-of-type {
		border-right: 2px solid #a9a9a9;
	}
}
