:host {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	font-size: 18px;
}

nav {
	display: flex;
	flex: auto 0 0;
	text-align: center;
	background-color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
	justify-content: flex-start;
	align-items: center;
	z-index: 500;
	.links {
		margin-left: auto;
		display: flex;
		& > a {
			margin: 0 1vw;
			flex-shrink: 0;
			user-select: none;
		}
	}
}

.logo {
	background-image: url(https://thwiki.cc/banner/banner_b1.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 220px;
	height: 60px;
	flex-shrink: 0;
	cursor: pointer;
	&:hover,
	&:active {
		background-image: url(https://thwiki.cc/banner/banner_r1.png);
	}
	&:focus {
		outline: none;
	}
}

.title {
	font-size: 90%;
	color: #447edd;
}

main {
	overflow: hidden;
	flex: 0px 1 1;
	& ::ng-deep > * {
		display: block;
		width: 100%;
		height: 100%;
		overflow: auto;
		padding: 1em;
	}
	router-outlet {
		display: none;
	}
}

.loader-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1050;
	overflow: hidden;
}

.loader {
	color: #999;
	font-size: 2vh;
	margin: 0 auto;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	position: relative;
	top: 50%;
	text-indent: -9999em;
	animation: load 1.3s infinite linear;
	transform: translateZ(0);
}

@keyframes load {
	0%,
	100% {
		box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em,
			-2em -2em 0 0;
	}

	12.5% {
		box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
	}

	25% {
		box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em,
			-2em -2em 0 -1em;
	}

	37.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em,
			-2em -2em 0 -1em;
	}

	50% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em,
			-2em -2em 0 -1em;
	}

	62.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
	}

	75% {
		box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em,
			-2em -2em 0 0;
	}

	87.5% {
		box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
	}
}
