<ul>
	<li>
		<a [routerLink]="['/tracks']"><svg-icon name="tracks"></svg-icon> 曲目时长填写工具</a>
	</li>
	<li>
		<a [routerLink]="['/calline']"><svg-icon name="calline"></svg-icon> 图片边长计算</a>
	</li>
	<li>
		<a [routerLink]="['/crop']"><svg-icon name="crop"></svg-icon> 图片剪裁</a>
	</li>
	<li>
		<a [routerLink]="['/lrctowiki']"><svg-icon name="lrctowiki"></svg-icon> 歌词文本转换</a>
	</li>
	<li>
		<a [routerLink]="['/circlelyrics']"><svg-icon name="circlelyrics"></svg-icon> 社团歌词进度</a>
	</li>
	<li>
		<a [routerLink]="['/event']"><svg-icon name="event"></svg-icon> 展会摊位列表转换</a>
	</li>
	<li>
		<a [routerLink]="['/sort']"><svg-icon name="sort"></svg-icon> 模板列表排序</a>
	</li>
	<li>
		<a [routerLink]="['/list']"><svg-icon name="list"></svg-icon> 列表处理</a>
	</li>
	<li>
		<a [routerLink]="['/textcolor']"><svg-icon name="textcolor"></svg-icon> 渐变色彩文字代码生成器</a>
	</li>
	<li><a href="/tags/">音频属性读取工具（旧）</a></li>
</ul>
